<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
    <H1> Spell Check User Login </H1>
    <H2> Please enter your credentials below: </H2>

    <form method="POST" action="/login">
    {{ form.csrf_token }}
    {{ form.uname.label }} {{ form.uname(size=40) }} <br>
    {{ form.pword.label }} {{ form.pword(size=40) }} <br>
    {{ form.twofa.label }} {{ form.twofa(size=8) }} <br>
    <input type="submit" value="Submit">

</form>
</body>
</html>